.container-fluid {
	width: 90%;
	margin: 0 auto;
}
.nav {
	background-color: white;
	position: fixed;
	width: 85%;
}
.dark {
	background-color: black;
}
.largeText {
	font-size: 2em;
}
img {
	width: 10%;
	float: left;
	margin-top: 10px;
	max-width: 60px;
}
.button {
	width: auto;
	height: 36px;
	float: left;
	margin: 0px 0px 10px 10px;
	border-radius: 5px;
	padding: 0 2.75%;
	background-color: rgb(233,233,233);
	border: 1px outset black;
}
.deleteButton {
	float: right;
	margin: 10px;
	border-radius: 5px;
	border:1px solid black;
	background-color: #e5e5ea;
	padding: 0 20px;
}
.editButton {
	float: right;
	margin: 10px;
	border-radius: 5px;
	border:1px solid black;
	background-color: #e5e5ea;
	padding: 0 20px;
}
.userTextInput {
	width: 80%;
	float: left;
	margin: 10px 0px 0px 30px;
	font-size: 1.5em;

}
.output {
	border: 2px solid black;
	margin-top: 140px;
	padding: 10px;
	overflow: auto;
}
.newMsg {
	background-color: #E5E5EA;
	float: left;
	border-radius: 15px;
	margin-bottom: 15px;
	padding: 10px;
	width: 90%;
	box-shadow: 1px 1px 3px grey;
}
.newMsg:nth-child(even) {
	background-color: #4EBFFA;
	float: right;
}
.msg {
	background-color: #E5E5EA;
	border-radius: 15px;
	margin-bottom: 15px;
	padding: 10px;
	float: left;
	width: 90%;
	box-shadow: 1px 1px 3px grey;
}
.disabled {
	font-weight: bold;
	color: #fff;
}
.msg:nth-child(odd) {
	background-color: #4EBFFA;
	float: right;
}
.msg:hover {
	box-shadow: 3px 3px 5px black;
}
.selectTheme{
	display: inline-block;
	margin: 10px;
}
.selectTheme span {
	font-size: 16px;
	margin-right: 10px;
	font-weight: bold;
}
.selectTheme label {
	margin-right: 10px;
}

@media (min-width: 768px) {
	.userTextInput {
		margin: 25px 0 0 30px;
		width: 60%;
	}
	.button {
		margin: 25px 0 0 20px;
	}		
}
@media (min-width: 1100px) {
	.userTextInput {
		margin: 25px 0 0 30px;
		width: 70%;
	}	
}


















