.container-fluid {
			width: 90%;
			margin: 0 auto;
		}
		img {
			width: 15%;
			float: left;
			margin-top: 10px;
			max-width: 50px;
		}
		.button {
			width: auto;
			float: left;
			margin: 0px 0px 10px 10px ;
		}
		.userTextInput {
			width: 80%;
			float: left;
			margin: 10px 0px 0px 10px ;

		}
		
		@media (min-width: 768px) {
			.userTextInput {
				width: 60%;
			}
			.button {
				margin: 25px 0 0 0;
			}
			.userTextInput {
				margin: 25px 0 0 10px;
			}
		
		}